header{background-image: linear-gradient(to top, rgba(216, 216, 216, 0.8), rgba(244, 244, 244, 0.2)), url(images/pado2.jpg);
    background-size:cover;
    background-position:center top;
    background-attachment:fixed;}

    .nav-link:hover,
    .nav-link.active {
        color: rgb(105, 127, 193)!important;
    }

    body{font-family: 'Noto Sans KR', sans-serif;}
    h1{font-family: 'Shizuru', sans-serif;} h2, h3, h4{font-family: 'Noto Sans KR', sans-serif;}

    #info{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(images/museum1.jpg);
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
    }

/* Carousel base class */
.myCarousel {background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(104, 104, 104, 0.2));

  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 40rem;
  }
